* {
    margin: 0;
    padding: 0;
    font-family: 'Galada', cursive;
}

html {
    scroll-behavior: smooth;
}


/*css varaibles*/

:root {
    --navbar-height: 59px
}


/*navigation bar*/

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#logo {
    margin: 10px 34px;
}

#logo img {
    height: 56px;
    margin: 3px 6px;
}

#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    display: block;
    text-decoration: none;
    padding: 14px 15px;
    border-radius: 40px;
}

#navbar ul li a:hover {
    display: block;
    color: black;
    background-color: cornsilk;
}


/*home section*/

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 530px;
}

#home::before {
    content: "";
    background: url('../img/4.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: .89;
}

#home h1 {
    color: cornsilk;
    text-align: center;
}

#home p {
    color: cornsilk;
    text-align: center;
    font-size: 1.5rem;
}


/*our services*/

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid grey;
    height: 400px;
    width: 600px;
    border-radius: 30px;
    margin: 2px 55px;
    padding: 10px 15px;
    background-color: darkgrey;
    margin-bottom: 20px;
}

#services .box img {
    display: block;
    margin: auto;
    height: 100px;
}

#services .box p {
    font-size: 1.1rem;
}


/*client section*/

#client-section {
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('../bg.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

#clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: auto;
    width: 50px;
}


/*contact section*/

#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/contact-us2.jpg') no-repeat center center/cover;
}

footer {
    background: black;
    color: white;
    padding: 12px 3px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
}


/*utility class*/

.h-primary {
    font-size: 2.8rem;
    padding: 12px;
}

.h-secondary {
    font-size: 2.2rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid red;
    background-color: cyan;
    color: darkgrey;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}